@charset "utf-8";
	
	body {background-color:rgb(242,242,242); margin:00px; font-family:UTM Avo; }	
	a {text-decoration:none; color:inherit;}
	a:hover {text-decoration:none; color:silver}

	nav.navbar-default {background: none; border:none; }
	footer span {margin-right:20px;}
	footer {margin-bottom:10px;}
	
	.float-left>div{float:left;}
	.float-left::after{content:"";display:block;clear:both;}
	
	
	.header-bar {height:30px; background:black; color:white;}
	header {position:relative; top:3px; text-align:right;}
	header>a {margin-left:13px;}
	header>a:last-child {margin-right:24px;}
	
	.page-width {margin:00px auto; max-width:1183px;}
	@media screen and (max-width:800px) {
		.page-width { width:100%; }
		.main {width:100%;}
	}
	

	.main-container {float:left; width:822px; background:none;}
	.main {}

	.aside {float:left;width:288px;}

	.bot-menu{clear:both;}
	.clear-float{ clear:both; }
	.layer1 {position:absolute; top:00px; left:00px; width:100%; height:100%;}
	
	.cat-box {margin-bottom:32px; width:100%;}
	.cat-tit-container>div {float:left;}
	.cat-tit-container>div:nth-child(1) {color:white; font-weight:bold; line-height:26px; height:28px; text-transform:uppercase;}
	.cat-tit-container>div:nth-child(3) {color:#DC6803;} /* Xem them */
	.cat-tit {background:#FF6600;padding:00px 5px 00px 5px;margin-right:10px;font-size:15px;line-height:28px;}
	.article-frame{overflow:hidden;height:254px;max-width:790px;}
	.article-container{width:100cm;transform:translateX(0px);transition-duration:0.5s;}
	.article-container>div{float:left;margin-top:12px;width:245px;margin-right:20px; }
	.article-container>div:first-child {margin-left:00px;}
	.article>img {width:100%; height:140px;}
	.article>div {width:100%;}
	
	.bot-menu-title {font-size:30px; width:100%; float:none; }
	.bot-menu {margin-top:22px; margin-left:20px;}
	.bot-menu>div {float:left; margin-right:30px;}


	/* Slides */
	#slides-box {float:left;padding-top:15px;}
	#slides-box>div {float:left;}
	#slides-box>div:nth-child(odd) {height:40px;}
	#slides-box>div:nth-child(odd):hover {cursor:pointer;opacity:0.5;}
	#slides-frame {width:706px;overflow:hidden;}
	#slides-container {height:100%; font-size:15px; line-height:18px; transition-duration:0.5s;}
	#slides-container>div {float:left;border-left:solid 1px black;padding:00px 10px 00px 10px;}
	#slides-container>div:first-child {border-left:solid 00px black;}
	#slides-container>div>div {display:inline-block;width:139px;height:70px; overflow:hidden;}
	#slides-container>div>div>div {font-size:12px; text-transform:uppercase;}
	#slides-container>div>img {width:70px;height:70px;border-radius:100%;overflow:hidden;}

	/* follow us on Facebook */
	.follow-us {
		height:190px; width:190px;
		text-align:center;
		line-height:24px;
		margin:35px auto;
		border:solid 1px black;
		-webkit-border-radius: 100%;
		-moz-border-radius: 100%;
		border-radius: 100%;
	}
	.follow-us-head {
		margin-top:34px;
		font-size:26px;
	}
	.follow-us-body a {
		display:block;
		font-size:18px;
		font-weight:bold;
	}
	
	

	#date-time {margin-left:82px;width:262px;height:262px;border-radius:4cm;border:solid 2px white;text-align:center;color:white;}
	#menu-title {text-align:center; padding:10px; display:none; background:none; color:white; font-size:30px;}
	@media screen and (max-width:800px) {
		#menu-title {display:block;}
		#home-ftunews {display:none;}
		#date-time {display:none;}
	}
	.custom-counter {
		margin-left: 20px;
		margin-right: 00px;
		list-style-type: none;
		padding-left:00px;
	}
	.custom-counter li {
		counter-increment: step-counter;
		margin-top:20px;
	}
	.custom-counter li::before {
		content: counter(step-counter);
		margin-right: 16px;
		font-size: 18px;
		background-color: red; color: white;
		font-weight: bold;
		padding:2px 11px 4px; line-height:00px;
		text-align:center;
		border-radius: 100%;
	}

/* input range */
	input[type="range"].index-input-range {
		-webkit-appearance: none;
		height:24px;
		max-width:280px;
	}
	.index-input-range:focus {
		outline: none;
	}
	.index-input-range::-webkit-slider-runnable-track {
		width: 100%;/**/
		height: 1px;
		cursor: pointer;
		background: black;
	}
	.index-input-range::-webkit-slider-thumb {
		border: 1px solid #000000;
		height: 22px;
		width: 22px;
		border-radius: 100%;
		background: #ffffff;
		cursor: pointer;
		margin-top:-10px;
		-webkit-appearance: none;
	}

	/* index page */
	.index-ftunews {position:relative; top:00cm; left:50px; color:white; font-size:84px; margin-top:40px;}
	.index-events tr:nth-child(odd) {
		background:black;
		color:white;
	}
	.index-events tr:nth-child(even) {
		background:white;
		color:black;
	}
	.index-bigpic {
		overflow:hidden;
		margin:00px;
		padding:00px;
		width:100%;
		height:100%;
		background-image: url(../Images/Yax-from-Zootopia.jpg);
		background-size:cover;
		background-position:center;
	}

	.index-latest-frame {
		height:140px;
		-webkit-background-size:cover;
		background-size:cover;
		background-position: center;
		color: white;
		margin: 3px;
		position: relative;
		display:block;
	}
	.index-latest-frame .index-latest-content {
		position:absolute;
		left:10px;
		bottom:10px;
	}

	.index-time {
		margin-top:50px;;
		font-style:italic;
		font-size:20px
	}
	.index-dat {
		font-size:70px;
		line-height:56px;
		text-align:right;
		padding-right:10px;
	}
	.index-month {
		text-align:left;
		font-size:34px;
		line-height:30px;
		padding:00px
	}
	.index-year {
		font-style:italic;
		font-size:18px;
	}
	.index-datetime-hr {
		width:66px;
		border:dotted 3px white;
		border-left:none;
		transform:skewX(-20deg);
		margin:10px auto 10px;
	}
	.index-hot-posts {
		padding:00px;
	}
	.index-hot-posts li {
		position:relative;
		height:60px;
		overflow: hidden;
	}
	.index-hot-posts-content {
		position: absolute;
		top:00px; left:00px;
	}
	.background-number {
		position:absolute;
		top:00px; left:00px;
		font-weight:bold;
		font-size:60px;
		line-height:50px;
		text-align:center;
		width:100%;
		color:rgb(208,219,225);
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.no-padding {
		padding:0px;
	}

	.gradient-cyan-left {
		background: rgba(0,0,0,0); /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(left,  rgba(28,188,180,1),  rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right,  rgba(28,188,180,1),  rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right,  rgba(28,188,180,1),  rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right,  rgba(28,188,180,1),  rgba(0,0,0,0)); /* Standard syntax */
	}
	.gradient-black-bottom {
		background: rgba(0,0,0,0); /* For browsers that do not support gradients */
		background: -webkit-linear-gradient(bottom,  rgba(0,0,0,1),  rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(top,  rgba(0,0,0,1),  rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(top,  rgba(0,0,0,1),  rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to top,  rgba(0,0,0,1),  rgba(0,0,0,0)); /* Standard syntax */
	}
	.mask {
		position: absolute;
		top:0px; left:0px;
		width:100%; height:100%;
	}
	.index-custom-pin {
		position:relative;
		height:300px;
		background-image:url(../Images/Yax-from-Zootopia.jpg);
		background-size:cover;
		background-position:center;
	}
	.index-custom-pin-content {
		position:absolute;
		bottom:10px;
		left:10px;
		color:white;
	}
	.index-custom-pin-author {
		color:rgb(255,157,4);
	}
	.index-custom-pin::after {
		content: '';
		position: absolute;
		bottom: 0; right: 0;
		border-bottom: 80px solid white;
		border-left: 80px solid rgba(0,0,0,0);
		width: 0;
	}
	.index-shortnews {
		position:relative;
		margin-top:14px;
		margin-left:0px;
		height:500px;
		background-image: url(../Images/Yax-from-Zootopia.jpg);
		background-position:center;
		background-size:cover;
	}
	.index-shortnews-arrows {
		position:absolute;
		bottom:5px;
		right:5px;
	}
	.index-shortnews-arrows img {
		margin-left:20px;
	}

	/* menu*/
	.menu {
		position: relative;
		margin-top:10px;
	}
	.menu-item {
	}
	.menu-item-link {
		border:solid 1px rgba(0,0,0,0);
		padding:4px;
		margin-right:10px;
	}
	.menu-item-link:hover {
		border:solid 1px white;
	}
	.submenu {
		position:absolute;
		top:22px;
		left:inherit;
		transform: scaleY(0);
		opacity: 0;
		transition: opacity .4s ease-in-out;
		-moz-transition: opacity .4s ease-in-out;
		-webkit-transition: opacity .4s ease-in-out;
	}
	.submenu a {
		margin-right:8px;
	}
	.submenu-hr {
		width:100%;
		margin:00px;
		transform: scaleX(0);
		transition-duration: 0.4s;
	}
	.menu-item:hover .submenu {
		display: block;
		opacity: 1;
		transform: scaleY(1);
	}
	.menu-item:hover .submenu-hr {
		transform: scaleX(1);
	}

	.btn-harmburger {
		font-size:50px;
		line-height:50px;
		color:white;
		display:none;
	}
	.btn-close {
		font-size:30px;
		line-height:30px;
		color:black;
	}
	@media screen and (max-width: 768px) {
		.btn-harmburger {
			display:inline;
		}
		.menu {
			display: none;
		}
	}

	.index-sidemenu {
		position:fixed;
		top:0; left:0; bottom:0;
		background:white;
		z-index:100;
		overflow-y: scroll;
		width:256px; height:100%;
		transform: translateX(-256px);
		-webkit-transition: transform .4s;
		-moz-transition: transform .4s;
		-ms-transition: transform .4s;
		-o-transition: transform .4s;
		transition: transform .4s;/**/
	}
	.text-align-bottom {
		display:table-cell;
		vertical-align: bottom;
	}


	@media (min-width: 768px) {
		.navbar-nav > li > a {
			padding-top: 15px;
			padding-bottom: 0px;
		}
	}
	.float-left>a {float:left}
	#latest-frame>div {position:relative; margin-top:3px;}
	#latest-frame>div>a {display:block;position:relative;height:150px;}
	#latest-frame>div>a>div:first-child {position:absolute;width:100%;height:100%; overflow:hidden;}
	#latest-frame>div>a>div:last-child {position:absolute;left:5px;bottom:10px;color:white;}
	.navbar-brand {float:right;}
	.navbar-toggle {float:left;}

	.navbar-index .dropdown-item {color:white;}
	.navbar-index {color:white;}
	.navbar-item {background:none;}
	.navbar-item span {padding:5px;}
	.navbar-item:hover span {border:solid 1px white;}
	.navbar-nav .dropdown-menu .dropdown-item:hover span{border-bottom:solid 1px white;}
	.dropdown-menu {position:absolute; top:40px; display:flex; background:none; border:none; box-shadow:none; }
	.dropdown .dropdown-menu li {background:none; display:flex;}
	.dropdown .dropdown-menu li a {background:none; display:inherit;}
	.dropdown {background:none;}
	.btn-transparent {background:none;}